<template>
  <form @submit.prevent="submit">
    <b-field label="Search employee">
      <b-input
        v-model="form.id"
        type="search"
        icon="magnify"
        placeholder="Type an employee id"
      />
      <p class="control">
        <b-button type="is-success" native-type="submit" :loading="isLoading">
          Get employees
        </b-button>
      </p>
    </b-field>
  </form>
</template>

<script>
export default {
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      form: {
        id: null,
      },
    }
  },
  methods: {
    submit() {
      this.$emit('search', this.form.id)
    },
  },
}
</script>
