<template>
  <b-table :data="employees">
    <b-table-column v-slot="props" field="id" label="ID" numeric>
      {{ props.row.id }}
    </b-table-column>

    <b-table-column v-slot="props" field="name" label="Name">
      {{ props.row.name }}
    </b-table-column>

    <b-table-column
      v-slot="props"
      field="contractTypeName"
      label="Contract type"
    >
      <b-tag
        size="is-medium"
        :type="`is-light
          ${
            props.row.contractTypeName === 'HourlySalaryEmployee'
              ? 'is-primary'
              : 'is-info'
          }
        `"
      >
        {{
          props.row.contractTypeName === 'HourlySalaryEmployee'
            ? 'Hourly'
            : 'Monthly'
        }}
      </b-tag>
    </b-table-column>

    <b-table-column v-slot="props" field="roleId" label="Role ID" numeric>
      {{ props.row.roleId }}
    </b-table-column>

    <b-table-column v-slot="props" field="roleName" label="Role">
      {{ props.row.roleName }}
    </b-table-column>

    <b-table-column
      v-slot="props"
      field="roleDescription"
      label="Role description"
    >
      {{ props.row.roleDescription }}
    </b-table-column>

    <b-table-column
      v-slot="props"
      field="hourlySalary"
      label="Hourly salary"
      numeric
    >
      {{ props.row.hourlySalary | currency }}
    </b-table-column>

    <b-table-column
      v-slot="props"
      field="monthlySalary"
      label="Monthly salary"
      numeric
    >
      {{ props.row.monthlySalary | currency }}
    </b-table-column>

    <b-table-column
      v-slot="props"
      field="annualSalary"
      label="Annual salary"
      numeric
    >
      {{ props.row.annualSalary | currency }}
    </b-table-column>
  </b-table>
</template>

<script>
const currencyFormatter = new Intl.NumberFormat(undefined, {
  style: 'currency',
  currency: 'COP',
})

export default {
  filters: {
    currency(value) {
      return currencyFormatter.format(value)
    },
  },
  props: {
    employees: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
