<template>
  <section class="section">
    <div class="level">
      <div class="level-item">
        <employees-searcher
          :is-loading="status === 'fetching'"
          @search="searchEmployee"
        />
      </div>
    </div>

    <employees-table v-if="status === 'success'" :employees="employees" />

    <b-notification v-if="status === 'failure'" type="is-danger">
      The employee has been not found
    </b-notification>
  </section>
</template>

<script>
import EmployeesSearcher from '@/components/employees/Searcher'
import EmployeesTable from '@/components/employees/Table'

export default {
  name: 'HomePage',
  components: {
    EmployeesSearcher,
    EmployeesTable,
  },
  data() {
    return {
      status: 'idle',
      employees: [],
    }
  },
  methods: {
    async searchEmployee(id) {
      this.status = 'fetching'

      try {
        const response = await this.$http.$get(
          `http://localhost:8080/employees/${id ?? ''}`
        )
        this.employees = Array.isArray(response) ? response : [response]
        this.status = 'success'
      } catch {
        this.status = 'failure'
      }
    },
  },
}
</script>
